<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643437299955-5fdciqkrsg6kouoglsshoavu31tbhjjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643437299955-5fdciqkrsg6kouoglsshoavu31tbhjjg</string>
	<key>API_KEY</key>
	<string>AIzaSyCMrIo7LQU5YTfGo45-TJ4OPNDISUDEbBs</string>
	<key>GCM_SENDER_ID</key>
	<string>643437299955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TonyMinh.CouponApp</string>
	<key>PROJECT_ID</key>
	<string>couponapp-e46bc</string>
	<key>STORAGE_BUCKET</key>
	<string>couponapp-e46bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643437299955:ios:e2318d7b12665c284ccf86</string>
</dict>
</plist>